@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Anonymous';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/anonymous/anonymous-pro-v14-latin-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('assets/fonts/anonymous/anonymous-pro-v14-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('assets/fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('assets/fonts/poppins/poppins-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* You can add global styles to this file, and also import other style files */
/* @layer utilities { */
  .touch-action-none {
    touch-action: none;
  }
  .w-1024 {
    width:1024px;
    min-width: 1024px;
    max-width: 1024px;
  }
  .h-768 {
    height: 768px;
    min-height: 768px;
    max-height: 768px;
  }
  .w-canvas {
    width:800px;
    min-width: 800px;
    max-width: 800px;
  }
  .h-canvas {
    height: 600px;
    min-height: 600px;
    max-height: 600px;
  }
/* } */



.card-drag {
  width: 160px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  padding:10px;
  /* margin:2px; */
}
.card-drop {
  width: 164px;
  height: 104px;
  transform: translate(-2px, -2px);
  overflow: hidden;
  border-radius: 6px;
  padding:10px;
  margin:2px;
}